#sheetframe {
    border: 1px solid black;
    width: 1024px;
    height: 768px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    font-size: small;
}

#sheetheader {
    width: 1020px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sheetfooter {
    width: 1020px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#gamedescription {
    width: 1020px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#gameteams {
    border: 1px solid black;
    width: 40%;
}
#gamelocation {
    border: 1px solid black;
    width: 20%;
}
#gamevenue {
    border: 1px solid black;
    width: 20%;
}
#gamedate {
    border: 1px solid black;
    width: 10%;
}
#gametime {
    border: 1px solid black;
    width: 10%;
}

#competition {
    display: flex;
    flex-direction: row;
}

#penalties {
    border: 1px solid black;
    width: 100%;
}

#remarks {
    border: 1px solid black;
    width: 100%;
}

#approvals {
    border: 1px solid black;
    width: 100%;
}

#summary {
    border: 1px solid black;
    width: 100%;
}

#teams {
    border: 1px solid black;
    width: 50%;
}

.logo {
    height:60px; 
    padding:2px;
}

.headerslot {
    width: 250px;
}

.sectiontitle {
    background-color: lightgray;
    padding: 3px;
}

#gameresultdetails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.setresult {
    border: 1px solid gray;
    width: 330px;
    margin: 4px;
}
.setnumber {
    font-weight: bolder;
}
.setduration {
    font-weight: lighter;
}
.playerpoints {
    width: 16.5%;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    text-align: center;
}
.playernumber {
    width: 16.5%;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    text-align: center;
}
.scoringsequence {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.scoringsequence div:last-of-type {
    background-color: yellow;
}

.setpositions {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.teamsetresult {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.cards {
    width: 30px;
    height: 30px;
}

/*ALEX*/

/* PREPARESET*/
.liste-joueur{
    flex-direction: row;
    display: flex;
    text-wrap: wrap;
}

  
  .example-origin {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
  }
  
  .example-draggable {
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    text-align: center;
    border:solid 2px black;
  }
  
  .example-dropzone {
    padding: 10px;
    border:solid black 2px;
    width:20%;
    
  }

  select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
 }

 .selecttable{
    text-align: center;
    margin: 0 auto;
 }
 

 /* MATCH */

 .form-control{
    width: 150px;
 }

 .player-drag{
    width: fit-content;
    border: solid black 2px;
 }
 
 .liste{
    display: flex;
    flex-direction: column;
    width: 20%;
 }

 .add{
    background-color: #e9ecef;
 }

 .row{
    /*display: flex;*/
    /*flex-direction: row;*/
 }

 .width{
    width:80%;
    margin: 0 auto;
 }

 .flex {
    display: flex;
    justify-content: space-between; /* Cela aligne les enfants aux extrémités opposées */
    flex-direction: row;
}
.yellow{
    background-color: yellow;
}
  /*ALEX*/