#sheetframe {
    border: 1px solid black;
    width: 1024px;
    height: 768px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    font-size: small;
}

#sheetheader {
    width: 1020px;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#sheetfooter {
    width: 1020px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#gamedescription {
    width: 1020px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#gameteams {
    border: 1px solid black;
    width: 40%;
}
#gamelocation {
    border: 1px solid black;
    width: 20%;
}
#gamevenue {
    border: 1px solid black;
    width: 20%;
}
#gamedate {
    border: 1px solid black;
    width: 10%;
}
#gametime {
    border: 1px solid black;
    width: 10%;
}

#competition {
    display: flex;
    flex-direction: row;
}

#penalties {
    border: 1px solid black;
    width: 100%;
}

#remarks {
    border: 1px solid black;
    width: 100%;
}

#approvals {
    border: 1px solid black;
    width: 100%;
}

#summary {
    border: 1px solid black;
    width: 100%;
}

#teams {
    border: 1px solid black;
    width: 50%;
}

.logo {
    height:60px; 
    padding:2px;
}

.headerslot {
    width: 250px;
}

.sectiontitle {
    background-color: lightgray;
    padding: 3px;
}

#gameresultdetails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.setresult {
    border: 1px solid gray;
    width: 330px;
    margin: 4px;
}
.setnumber {
    font-weight: bolder;
}
.setduration {
    font-weight: lighter;
}
.playerpoints {
    width: 16.5%;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    text-align: center;
}
.playernumber {
    width: 16.5%;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    text-align: center;
}
.scoringsequence {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.scoringsequence div:last-of-type {
    background-color: yellow;
}

.setpositions {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.teamsetresult {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.cards {
    width: 30px;
    height: 30px;
}

/*ALEX*/

/* PREPARESET*/
.liste-joueur{
    flex-direction: row;
    display: flex;
    text-wrap: wrap;
}

  
  .example-origin {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
  }
  
  .example-draggable {
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    text-align: center;
    border:solid 2px black;
  }
  
  .example-dropzone {
    padding: 10px;
    border:solid black 2px;
    width:20%;
    
  }

  select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
 }

 .selecttable{
    text-align: center;
    margin: 0 auto;
 }
 

 /* MATCH */

 .form-control{
    width: 150px;
 }

 .player-drag{
    width: fit-content;
    border: solid black 2px;
 }
 
 .liste{
    display: flex;
    flex-direction: column;
    width: 20%;
 }

 .add{
    background-color: #e9ecef;
 }

 .row{
    /*display: flex;*/
    /*flex-direction: row;*/
 }

 .width{
    width:80%;
    margin: 0 auto;
 }

 .flex {
    display: flex;
    justify-content: space-between; /* Cela aligne les enfants aux extrémités opposées */
    flex-direction: row;
}
.yellow{
    background-color: lightyellow;
}

.green{
    background-color: lightgreen;
}


.orange{
    background-color: lightsalmon;
}


.item {

    flex: 0 0 42%;
    text-align: center;
    margin: 4%;
}
.volleystyle {
    max-width: 30rem;
    margin:0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.username {
    margin-right: 50px; /* Aligns text to the right of the container */
    font-size: 40px; /* Adjust size as needed */
    color: black; /* Username text color */
}

.flex-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* ajustez cette valeur si nécessaire */
}

.flex-header h1 {
    margin: 0;
    text-align: center;
}

.flex-header title {
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.flex-header p {
    margin: 0;
    position: absolute;
    right: 10px; /* ajustez cette valeur pour plus d'espace depuis le bord droit */
    text-align: right;
}

.buttondeconnect {
    margin: 0;
    position: absolute;
    right: 300px; /* ajustez cette valeur pour plus d'espace depuis le bord droit */
    text-align: right;
}


/* Style du bouton */
.createButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100px;
    justify-content: center; /* Centre horizontalement */
    text-align: center; /* Assure également que le texte est centré */
    margin: 20px auto;
}

/* Style du conteneur des utilisateurs */
.usersContainer {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
}

/* Style de chaque utilisateur */
.user {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
}

.user-info {
    margin: 5px 0;
}

.profildata {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centre horizontalement */
    text-align: center; /* Assure également que le texte est centré */
    font-size: 20px;
    margin:0 20px;;
}

button.icon-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.5em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

button.icon-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

button.icon-btn.cross {
    color: red;
}

button.icon-btn.check {
    color: green;
}
.form-container {
    width: 300px;
    margin: auto;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.input-field, .select-field {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.checkbox-field {
    margin-bottom: 10px;
}


  /*ALEX*/